<div>
  <h2>London Road Disruptions</h2>
  <div>
      <%= for disruption <- @disruptions do %>
          <p>Disruption
              <%= disruption %>
          </p>
      <% end %>
  </div>
</div>

